* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.city-area {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 25px;
}

.ece {
  display: flex;
  flex-direction: column;
}
